:root {
	--font-size: 16px;
	--font-size--middle: 14px;
	--font-size--small: 12px;
	--font-family-primary: 'Open Sans', sans-serif;
	--color-primary: rgb(35, 132, 74);
	--color-primary--alpha: rgba(35, 132, 74, .5);
	--color-primary--light: rgb(57, 176, 105);
	--color-secondary: rgb(127, 156, 199);
	--color-secondary--light: rgb(181, 205, 241);
	--color-black: rgb(50, 60 ,75);
	--color-gray: rgb(239, 240, 245);
	--color-gray--dark: rgb(108, 114, 123);
	--color-gray--light: rgb(249, 250, 254);
	
	--border-radius: 8px;
	--box-shadow: 0px 4px 7px rgba(122, 168, 194, 0.25);
	--transition: all .3s;
}

@media (min-width: 768px) {
	:root {
		--font-size: 18px;
		--font-size--middle: 16px;
		--font-size--small: 14px;
	}
}

body {
	color: var(--color-black);
	font: var(--font-size) var(--font-family-primary);
	line-height: 1.15;
	word-wrap: break-word;
}

h1,
.h1 {
	color: var(--color-black);
	font-size: 20px;
	font-weight: 700;
	margin: 1.5em 0;
	position: relative;
}

h2,
.h2 {
	font-size: 18px;
	font-weight: 700;
	margin: 1.5em 0;
	padding: 0;
}

h3,
.h3 {
	font-size: 16px;
	font-weight: 700;
	margin: 1.5em 0;
	padding: 0;
}

h1:first-child, .h1:first-child,
h2:first-child, .h2:first-child,
h3:first-child, .h3:first-child {
	margin-top: 0;
}

@media (min-width: 768px) {
	h1,
	.h1 {
		font-size: 26px;
	}
	
	h2,
	.h2 {
		font-size: 22px;
	}
	
	h3,
	.h3 {
		font-size: 20px;
	}
}

p {
	line-height: 1.4;
	margin: 1.5em 0;
}

	p:first-child {
		margin-top: 0;
	}

	p:last-child {
		margin-bottom: 0;
	}

a,
.pseudo-link {
	color: var(--color-primary);
	text-decoration-color: var(--color-primary);
	transition: text-decoration-color .3s, color .3s;
}

	.pseudo-link {
		cursor: pointer;
		text-decoration-style: dashed;
	}

	a:hover,
	a:active,
	.pseudo-link:hover {
		color: var(--color-primary);
		text-decoration-color: transparent;
	}

	a * {
		cursor: pointer;
	}

	a[href^="tel"] {
		color: inherit;
	}

img {
	border: none;
	max-width: 100%;
}

.clear {
	clear: both;
	float: none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

.clearfix {
	zoom: 1;
}

	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table;
		line-height: 0;
	}

	.clearfix:after {
		clear: both;
	}

.fs-it,
.em {
	font-style: italic;
}

.fw-sb,
.fw-600 {
	font-weight: 600;
}

.fw-b,
.fw-700,
.strong {
	font-weight: 700;
}

.ta-l {
	text-align: left;
}

.ta-c {
	text-align: center;
}

.ta-r {
	text-align: right;
}

.color-primary {
	color: var(--color-primary);
}

.ul-no-marker {
	line-height: 1.4;
	list-style: none;
	margin: 1.5em 0;
	padding: 0;
}

	.ul-no-marker li {
	}

		.ul-no-marker li + li {
			margin: .5em 0 0 0;
		}

.ul-marker {
	display: flex;
	flex-direction: column;
	line-height: 1.4;
	list-style: none;
	margin: 1.5em 0;
	padding: 0;
}

	.ul-marker li {
		padding: 0 0 0 1.2em;
		position: relative;
	}

		.ul-marker li + li {
			margin: .5em 0 0 0;
		}
	
		.ul-marker li:before {
			color: var(--color-primary);
			content: "•";
			left: 0;
			line-height: 0;
			margin: .7em 0 0 0;
			position: absolute;
			top: 0;
		}

.ol-numbers {
	counter-reset: item;
	line-height: 1.4;
	list-style: none;
	margin: 1.5em 0;
	padding: 0;
}

	.ol-numbers li {
		padding: 0 0 0 1.2em;
		position: relative;
	}

		.ol-numbers li + li {
			margin: .5em 0 0 0;
		}

		.ol-numbers li:before {
			content: counters(item,".") ". ";
			counter-increment: item;
			left: 0;
			position: absolute;
			top: 0;
		}

.svg-icon {
	display: inline-block;
	fill-rule: evenodd;
	vertical-align: middle;
}

.svg-image {
	display: inline-block;
	fill-rule: evenodd;
	vertical-align: middle;
}

.site-button,
.site-button:visited {
	align-items: center;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	margin: 0;
	min-height: 42px;
	padding: 8px 26px;
	text-align: center;
	text-decoration: none;
	transition: var(--transition);
}

	.site-button:hover,
	.site-button:active {
		background-color: var(--color-primary);
		color: #fff;
	}
	
	.site-button--fill {
		background-color: var(--color-primary);
		color: #fff;
	}
	
		.site-button--fill:hover,
		.site-button--fill:active {
			background-color: transparent;
			color: #2B4254;
		}

[class *= 'content-image--'] {
	display: block;
}

.content-image--left-top,
.fl {
	margin: 0 auto 15px auto;
}

.content-image--left-center {
	margin: 15px auto 15px auto;
}

.content-image--right-top,
.fr {
	margin: 0 auto 15px auto;
}

.content-image--right-center {
	margin: 15px auto 15px auto;
}

.content-image--center-top {
	margin: 0 auto 15px auto;
}

.content-image--center {
	margin: 15px auto;
}

.content-image--center-bottom {
	margin: 15px auto 0 auto;
}

@media (min-width: 768px) {
	.content-image--left-top,
	.fl {
		float: left;
		margin: 0 15px 15px 0;
		max-width: 50%;
	}
	
	.content-image--left-center {
		float: left;
		margin: 15px 15px 15px 0;
		max-width: 50%;
	}
	
	.content-image--right-top,
	.fr {
		float: right;
		margin: 0 0 15px 15px;
		max-width: 50%;
	}
	
	.content-image--right-center {
		float: right;
		margin: 15px 0 15px 15px;
		max-width: 50%;
	}
}

.two-column {
	margin: 30px -15px;
}

	.two-column__column {
		padding: 0 15px;
	}
	
		.two-column__column + .two-column__column {
			margin-top: 1.5em;
		}

@media (min-width: 768px) {
	.two-column {
		display: flex;
		margin: 1.5em -15px;
	}
	
		.two-column__column {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 15px;
		}
		
			.two-column__column + .two-column__column {
				margin-top: 0;
			}
}