body {
	margin: 0;
	padding: 0;
}

.page-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

	.page-wrapper *,
	.page-wrapper ::before ,
	.page-wrapper ::after {
		box-sizing: inherit;
	}

.page-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page-container--fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1164px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

@media (min-width: 320px) {
	.page-container {
		width: 320px;
	}
}
@media (min-width: 768px) {
	.page-container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.page-container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.page-container {
		width: 1170px;
	}
}

.page-header {
}

	.page-header__top {
		display: none;
		font-size: var(--font-size--small);
		padding: 15px 0;
	}
	
		.page-header__top-inner {
			align-items: center;
			display: flex;
			justify-content: space-between;
			line-height: 1;
		}
		
			.page-header__time-work .svg-icon {
				fill: var(--color-primary);
				height: 10px;
				margin-right: 6px;
				width: 10px;
			}
			
			.page-header__address .svg-icon {
				fill: var(--color-primary);
				height: 14px;
				margin-right: 6px;
				width: 8px;
			}

			.page-header__email .svg-icon {
				fill: var(--color-primary);
				height: 9px;
				margin-right: 6px;
				width: 12px;
			}
		
			.page-header__messengers {
			}
			
	.page-header__bottom {
		background: var(--color-gray--light);
		padding: 10px 0 14px 0;
	}
	
		.page-header__bottom-inner {
		}

			.page-header__basket {
				margin: 0 auto 10px auto;
				max-width: 164px;
			}
		
			.page-header__logo {
				display: flex;
				margin: 0 auto;
				max-width: 290px;
			}
			
				.page-header__logo-image {
				}
				
					.page-header__logo-image img {
						display: block;
						max-width: 100%;
					}
					
				.page-header__slogan {
					align-items: center;
					border-left: 1px solid var(--color-secondary);
					color: var(--color-secondary);
					display: flex;
					font-size: var(--font-size--x-small);
					height: 54px;
					line-height: 1.5;
					margin-left: 26px;
					margin-top: 9px;
					padding-left: 30px;
					text-transform: uppercase;
				}
			
			.page-header__phone {
				display: none;
			}
			
			.page-header__search {
				display: none;
			}
			
.page-nav {
	background: var(--color-gray--light);
	padding: 10px 0;
}

	.page-nav__inner {
		display: flex;
		justify-content: space-between;
		padding-top: 12px;
		padding-bottom: 12px;
		background: var(--color-primary);
	}

		.page-nav__burger {
			align-items: center;
			display: flex;
		}
	
			.page-nav__burger-button {
				background-color: transparent;
				border: 0;
				cursor: pointer;
				display: block;
				outline: none;
				padding: 0;
				width: 27px;
			}
			
				.page-nav__burger-button:before {
					background: #fff;
					content: "";
					display: block;
					height: 5px;
					transition: transform .3s;
					width: 100%;
				}
				
				.page-nav__burger-button:after {
					background: #fff;
					content: "";
					display: block;
					height: 5px;
					transition: transform .3s;
					width: 100%;
				}
				
				.page-nav__burger-button span {
					background: #fff;
					border-radius: 1px;
					content: "";
					display: block;
					height: 5px;
					margin: 3px 0;
					width: 100%;
				}

					.page-nav__burger-button.--is-active:before {
						transform: translateY(6px) translateX(9px) rotate(-45deg);
						transform-origin: 50% 50%;
						width: 73%;
					}

					.page-nav__burger-button.--is-active:after {
						transform: translateY(-10px) translateX(-2px) rotate(45deg);
						transform-origin: 50% 50%;
						width: 73%;
					}
		
					.page-nav__burger-button.--is-active span {
						opacity: 0;
					}

		.page-nav__menu {
		}
		
			.page-nav__menu-inner {
			}
				
				.page-nav__phone {
					display: block;
					font-weight: 600;
					margin-bottom: 20px;
					padding: 0 30px;
				}
				
					.page-nav__phone-item {
					}
				
						.page-nav__phone-item + .page-nav__phone-item {
							margin-top: 4px;
						}
						
						.page-nav__phone-item .svg-icon {
							fill: var(--color-primary);
							height: 10px;
							width: 10px;
						}
		
		.page-nav__search {
			flex: 0 0 164px;
			max-width: 164px;
		}

.page-content {
	flex-grow: 1;
	flex-shrink: 0;
}

	.page-content__section {
		padding-bottom: 45px;
		padding-top: 45px;
	}
	
		.page-content__section:first-child {
			padding-top: 0;
		}

	.page-content__slider {
		padding: 0;
	}
	
	.page-content__heading {
		background: var(--color-gray--light);
		padding: 10px 0 44px 0;
	}
	
		.page-content__title {
			margin: 12px 0 0 0;
		}
	
	.page-content__inner {
		padding-bottom: 80px;
		padding-top: 50px;
	}
	
		.page-content__inner :first-child {
			margin-top: 0;
		}

.page-footer {
	background: var(--color-black);
	color: #fff;
	padding: 45px 0 32px 0;
}

	.page-footer__inner {
	}
	
		.page-footer__menu {
			display: none;
		}
	
		.page-footer__info {
		}

			.page-footer__logo {
				display: flex;
			}

				.page-footer__logo-image {
				}

					.page-header__logo-image img {
						display: block;
						max-width: 100%;
					}

				.page-footer__slogan {
					align-items: center;
					border-left: 1px solid var(--color-secondary);
					color: var(--color-secondary);
					display: flex;
					font-size: var(--font-size--x-small);
					height: 54px;
					line-height: 1.5;
					margin-left: 26px;
					margin-top: 9px;
					padding-left: 30px;
					text-transform: uppercase;
				}

			.page-footer__phone {
				font-weight: 600;
				margin-top: 22px;
			}
			
				.page-footer__phone-item {
				}
			
					.page-footer__phone-item + .page-footer__phone-item {
						margin-top: 4px;
					}
			
					.page-footer__phone-item .svg-icon {
						fill: var(--color-primary);
						height: 10px;
						width: 10px;
					}
					
					.page-footer__phone-item a {
						color: #fff;
						text-decoration-color: rgba(255, 255, 255, .5);
					}

					.page-footer__phone-item a:hover,
					.page-footer__phone-item a:active {
						text-decoration-color: transparent;
					}
				
			.page-footer__email {
				font-size: var(--font-size--middle);
				margin-top: 22px;
			}

				.page-footer__email a {
					color: #fff;
					text-decoration-color: rgba(255, 255, 255, .5);
				}
				
				.page-footer__email a:hover,
				.page-footer__email a:active {
					text-decoration-color: transparent;
				}

				.page-footer__email .svg-icon {
					fill: var(--color-primary);
					height: 9px;
					margin-right: 6px;
					width: 12px;
				}
				
			.page-footer__time-work {
				font-size: var(--font-size--middle);
				margin-top: 8px;
			}
				
				.page-footer__time-work .svg-icon {
					fill: var(--color-primary);
					height: 10px;
					margin-right: 6px;
					width: 10px;
				}
				
			.page-footer__address {
				font-size: var(--font-size--middle);
				margin-top: 8px;
			}
			
				.page-footer__address .svg-icon {
					fill: var(--color-primary);
					height: 14px;
					margin-right: 6px;
					width: 8px;
				}
				
			.page-footer__social-media {
				margin-top: 40px;
			}
				
			.page-footer__copy-c {
				color: var(--color-gray--dark);
				font-size: var(--font-size--middle);
				margin-top: 40px;
			}

@media (max-width: 991px) {
	.--no-scroll {
		overflow: hidden;
	}
	
	.page-nav__menu {
		display: none;
	}
	
		.page-nav__menu.--is-active {
			background: #fff;
			bottom: 0;
			box-shadow: var(--box-shadow);
			display: block;
			left: 0;
			max-width: 500px;
			padding: 40px 0;
			position: fixed;
			right: 20px;
			top: 0;
			z-index: 5;
		}
	
		.page-nav__close {
			background-color: transparent;
			background-image: url("data:image/svg+xml;charset=utf-8,<svg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M30.5069 25L49.2012 6.30484C49.7154 5.7902 49.9992 5.10362 50 4.37151C50 3.63899 49.7163 2.95159 49.2012 2.43777L47.563 0.799961C47.048 0.284107 46.3614 0.00158691 45.6285 0.00158691C44.8967 0.00158691 44.2102 0.284107 43.6951 0.799961L25.0008 19.4939L6.30569 0.799961C5.79146 0.284107 5.10447 0.00158691 4.37195 0.00158691C3.64024 0.00158691 2.95325 0.284107 2.43902 0.799961L0.8 2.43777C-0.266667 3.50443 -0.266667 5.23939 0.8 6.30484L19.4947 25L0.8 43.6943C0.285366 44.2097 0.00203252 44.8963 0.00203252 45.6284C0.00203252 46.3605 0.285366 47.0471 0.8 47.5622L2.43862 49.2C2.95285 49.7154 3.64024 49.9983 4.37154 49.9983C5.10406 49.9983 5.79106 49.7154 6.30528 49.2L25.0004 30.5057L43.6947 49.2C44.2098 49.7154 44.8963 49.9983 45.628 49.9983H45.6289C46.361 49.9983 47.0476 49.7154 47.5626 49.2L49.2008 47.5622C49.715 47.0475 49.9988 46.3605 49.9988 45.6284C49.9988 44.8963 49.715 44.2097 49.2008 43.6947L30.5069 25Z' fill='rgb(50, 60 ,75)'/></svg>");
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 80%;
			border: 0;
			cursor: pointer;
			height: 19px;
			margin: 0;
			outline: none;
			padding: 0;
			position: absolute;
			right: 8px;
			top: 8px;
			width: 19px;
			z-index: 9999;
		}
	
		.page-nav__menu-inner {
			height: 100%;
			overflow: auto;
		}
}

@media (min-width: 768px) {
	.page-header {
	}
		
		.page-header__top {
			display: block;
		}
		
		.page-header__bottom {
		}
		
			.page-header__bottom-inner {
				align-items: center;
				display: flex;
				justify-content: space-between;
			}
			
				.page-header__basket {
					flex: 0 0 164px;
					margin: 0;
					order: 1;
				}
				
				.page-header__logo {
					margin: 0;
				}
			
				.page-header__phone {
					display: block;
					font-weight: 600;
				}
				
					.page-header__phone-item {
					}
				
						.page-header__phone-item + .page-header__phone-item {
							margin-top: 4px;
						}
						
						.page-header__phone-item .svg-icon {
							fill: var(--color-primary);
							height: 10px;
							width: 10px;
						}
						
	.page-content__slider {
		padding: 16px 15px 0 15px;
	}
	
	.page-footer {
	}
	
		.page-footer__inner {
			display: flex;
		}
		
			.page-footer__menu {
				display: block;
				flex: 1 1 auto;
			}
			
			.page-footer__info {
				flex: 0 0 290px;
			}
}

@media (min-width: 992px) {
	.page-header {
	}
		
		.page-header__top {
			display: block;
		}
		
		.page-header__bottom {
		}
		
			.page-header__search {
				display: block;
				flex: 0 0 164px;
				max-width: 164px;
				order: 2;
			}
				
	.page-nav {
	}
	
		.page-nav__inner {
			display: block;
			padding-top: 0;
			padding-bottom: 0;
		}
		
			.page-nav__burger {
				display: none;
			}

			.page-nav__menu {
				display: block;
				margin: 0 -15px;
			}
			
				.page-nav__close {
					display: none;
				}
				
				.page-nav__menu-inner {
				}
				
					.page-nav__phone {
						display: none;
					}
			
			.page-nav__search {
				display: none;
			}
}

@media (min-width: 1200px) {

}