body {
	margin: 0;
	padding: 0;
}

.page-wrapper {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

	.page-wrapper *,
	.page-wrapper ::before ,
	.page-wrapper ::after {
		box-sizing: inherit;
	}

.page-container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.page-container--fluid {
	margin-left: auto;
	margin-right: auto;
	max-width: 1164px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

@media (min-width: 320px) {
	.page-container {
		width: 320px;
	}
}
@media (min-width: 768px) {
	.page-container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.page-container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.page-container {
		width: 1170px;
	}
}

.page-header {
}

	.page-header__top {
		display: none;
		font-size: 12px;
		padding: 15px 0;
	}
	
		.page-header__top-inner {
			align-items: center;
			display: flex;
			justify-content: space-between;
			line-height: 1;
		}
		
			.page-header__time-work .svg-icon {
				fill: var(--color-primary);
				height: 10px;
				margin-right: 6px;
				width: 10px;
			}
			
			.page-header__address .svg-icon {
				fill: var(--color-primary);
				height: 14px;
				margin-right: 6px;
				width: 8px;
			}

			.page-header__email .svg-icon {
				fill: var(--color-primary);
				height: 9px;
				margin-right: 6px;
				width: 12px;
			}
		
			.page-header__messengers {
			}
			
	.page-header__bottom {
		background: var(--color-gray--light);
		padding: 10px 0 14px 0;
	}
	
		.page-header__bottom-inner {
		}

			.page-header__basket {
				margin: 0 auto 10px auto;
				max-width: 164px;
			}
		
			.page-header__logo {
				display: flex;
				margin: 0 auto;
				max-width: 290px;
			}
			
				.page-header__logo-image {
				}
				
					.page-header__logo-image img {
						display: block;
						max-width: 100%;
					}
					
				.page-header__slogan {
					align-items: center;
					border-left: 1px solid var(--color-secondary);
					color: var(--color-secondary);
					display: flex;
					font-size: 10px;
					height: 54px;
					line-height: 1.5;
					margin-left: 26px;
					margin-top: 9px;
					padding-left: 30px;
					text-transform: uppercase;
				}
			
			.page-header__phone {
				display: none;
			}
			
			.page-header__search-desktop {
				display: none;
			}

			.page-header__search-mobile {
				flex: 0 0 164px;
				max-width: 164px;
			}
			
	.page-header__nav {
		background: var(--color-primary);
		margin-top: 10px;
	}
	
		.page-header__nav-inner {
			display: flex;
			padding: 12px 0;
		}
	
			.page-header__menu {
				display: none;
			}

.page-content {
	flex-grow: 1;
	flex-shrink: 0;
}

	.page-content__section {
		padding-bottom: 45px;
		padding-top: 45px;
	}
	
		.page-content__section:first-child {
			padding-top: 0;
		}

	.page-content__slider {
		padding: 0;
	}
	
	.page-content__heading {
		background: var(--color-gray--light);
		padding: 10px 0 44px 0;
	}
	
		.page-content__title {
			margin: 12px 0 0 0;
		}
	
	.page-content__inner {
		padding-bottom: 80px;
		padding-top: 50px;
	}
	
		.page-content__inner :first-child {
			margin-top: 0;
		}

.page-footer {
	background: var(--color-black);
	color: #fff;
	padding: 45px 0 32px 0;
}

	.page-footer__inner {
	}
	
		.page-footer__menu {
			display: none;
		}
	
		.page-footer__info {
		}

			.page-footer__logo {
				display: flex;
			}

				.page-footer__logo-image {
				}

					.page-header__logo-image img {
						display: block;
						max-width: 100%;
					}

				.page-footer__slogan {
					align-items: center;
					border-left: 1px solid var(--color-secondary);
					color: var(--color-secondary);
					display: flex;
					font-size: 10px;
					height: 54px;
					line-height: 1.5;
					margin-left: 26px;
					margin-top: 9px;
					padding-left: 30px;
					text-transform: uppercase;
				}

			.page-footer__phone {
				font-size: var(--font-size--middle);
				font-weight: 600;
				margin-top: 22px;
			}
			
				.page-footer__phone-item {
				}
			
					.page-footer__phone-item + .page-footer__phone-item {
						margin-top: 4px;
					}
			
					.page-footer__phone-item .svg-icon {
						fill: var(--color-primary);
						height: 10px;
						width: 10px;
					}
					
					.page-footer__phone-item a {
						color: #fff;
						text-decoration-color: rgba(255, 255, 255, .5);
					}

					.page-footer__phone-item a:hover,
					.page-footer__phone-item a:active {
						text-decoration-color: transparent;
					}
				
			.page-footer__email {
				font-size: 14px;
				margin-top: 22px;
			}

				.page-footer__email a {
					color: #fff;
					text-decoration-color: rgba(255, 255, 255, .5);
				}
				
				.page-footer__email a:hover,
				.page-footer__email a:active {
					text-decoration-color: transparent;
				}

				.page-footer__email .svg-icon {
					fill: var(--color-primary);
					height: 9px;
					margin-right: 6px;
					width: 12px;
				}
				
			.page-footer__time-work {
				font-size: 14px;
				margin-top: 8px;
			}
				
				.page-footer__time-work .svg-icon {
					fill: var(--color-primary);
					height: 10px;
					margin-right: 6px;
					width: 10px;
				}
				
			.page-footer__address {
				font-size: 14px;
				margin-top: 8px;
			}
			
				.page-footer__address .svg-icon {
					fill: var(--color-primary);
					height: 14px;
					margin-right: 6px;
					width: 8px;
				}
				
			.page-footer__social-media {
				margin-top: 40px;
			}
				
			.page-footer__copy-c {
				color: var(--color-gray--dark);
				font-size: 14px;
				margin-top: 40px;
			}

@media (min-width: 768px) {
	.page-header {
	}
		
		.page-header__top {
			display: block;
		}
		
		.page-header__bottom {
		}
		
			.page-header__bottom-inner {
				align-items: center;
				display: flex;
				justify-content: space-between;
			}
			
				.page-header__basket {
					flex: 0 0 164px;
					margin: 0;
					order: 1;
				}
				
				.page-header__logo {
					margin: 0;
				}
			
				.page-header__phone {
					display: block;
					font-size: var(--font-size--middle);
					font-weight: 600;
				}
				
					.page-header__phone-item {
					}
				
						.page-header__phone-item + .page-header__phone-item {
							margin-top: 4px;
						}
						
						.page-header__phone-item .svg-icon {
							fill: var(--color-primary);
							height: 10px;
							width: 10px;
						}
						
	.page-content__slider {
		padding: 16px 15px 0 15px;
	}
	
	.page-footer {
	}
	
		.page-footer__inner {
			display: flex;
		}
		
			.page-footer__menu {
				display: block;
				flex: 1 1 auto;
			}
			
			.page-footer__info {
				flex: 0 0 290px;
			}
}

@media (min-width: 992px) {
	.page-header {
		}
		
			.page-header__top {
				display: block;
			}
			
			.page-header__bottom {
			}
			
				.page-header__search-desktop {
					display: block;
					flex: 0 0 164px;
					max-width: 164px;
					order: 2;
				}
				
				.page-header__search-mobile {
					display: none;
				}
				
			.page-header__nav {
			}
			
				.page-header__nav-inner {
					display: block;
					padding: 0;
				}
	
					.page-header__menu {
						display: block;
					}
}

@media (min-width: 1200px) {

}