.certificates {
}

	.certificates__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px -30px -15px;
	}
	
		.certificates__item {
			align-items: stretch;
			flex: 0 0 50%;
			margin-bottom: 30px;
			max-width: 50%;
			padding: 0 15px;
		}
		
			.certificates__item-inner {
				align-items: center;
				border: 1px solid var(--color-gray);
				display: flex;
				height: 100%;
				justify-content: center;
				padding: 20px;
				transition: var(--transition);
			}
			
				.certificates__item:hover .certificates__item-inner {
					border-color: transparent;
					box-shadow: 4px 10px 29px rgba(0, 0, 0, .12);
				}
				
				.certificates__image {
					display: block;
					max-height: 100%;
					max-width: 100%;
				}

@media (min-width: 768px) {
	.certificates__item {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
}

@media (min-width: 992px) {
	.certificates__item {
		flex: 0 0 25%;
		max-width: 25%;
	}
}

@media (min-width: 1200px) {
	.certificates__item {
		flex: 0 0 20%;
		max-width: 20%;
	}
}