.tabs-button {
	margin: -10px 0 30px 0;
}

	.tabs-button__item {
		border: 1px solid var(--color-primary);
		color: var(--color-primary);
		cursor: pointer;
		display: block;
		font-weight: 600;
		padding: 14px 18px;
		text-align: center;
		text-decoration: none;
		transition: var(--transition);
		margin-top: 10px;
	}
		
		.tabs-button__item:hover,
		.tabs-button__item:active,
		.tabs-button__item.--is-active {
			background: var(--color-primary);
			color: #fff;
		}
		
		
@media (min-width: 768px) {
	.tabs-button {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		margin: -10px -8px 30px -8px;
	}
	
		.tabs-button__item {
			margin-left: 8px;
			margin-right: 8px;
		}
}

@media (min-width: 1200px) {
	.tabs-button {
		justify-content: center;
	}
}